<h1>{{title}}</h1>
<nav>
  <a routerLink="/currency" routerLinkActive="active">Currency Pipe</a>
  <a routerLink="/i18nplural" routerLinkActive="active">I18n Plural Pipe</a>
  <a routerLink="/json" routerLinkActive="active">Json Pipe</a>
  <a routerLink="/slice" routerLinkActive="active">Slice Pipe</a>
  <a routerLink="/uppercase" routerLinkActive="active">Uppercase Pipe</a>
  <a routerLink="/percent" routerLinkActive="active">Percent Pipe</a>
  <a routerLink="/date" routerLinkActive="active">Date Pipe</a>
  <a routerLink="/binary" routerLinkActive="active">Binary Pipe</a>
  <a routerLink="/concatenate" routerLinkActive="active">Concatenate Pipes</a>
  <a routerLink="/even" routerLinkActive="active">Pure Even Pipe</a>
  <a routerLink="/impureeven" routerLinkActive="active">Impure Even Pipe</a>
  <a routerLink="/async" routerLinkActive="active">Async Pipe</a>
</nav>
<router-outlet></router-outlet>
